target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.jar
*.war
*.rar

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

!lib/*
log/*
*.npmignore

.flattened-pom.xml

.env
/work/*.sql
/work/*.txt
/crawler/downloads
/robus/.env
/langchain/file/
#/file
#/data
/langchain/vectors/chroma/.chroma-data
/data/chroma_vector_db